In [2]:
# Bibliotecas são funções que terceiros criaram

import pandas as pd # as pd é boa prática - existem padrões para bibliotecas - padrão de mercado

In [7]:
# Lista com sub listas não é a melhor maneiras de se trabalhar

dados = [
    ["Ana",23,"São Paulo"],
    ["Bruno",35,"Rio de Janeiro"],
    ["Carlos",45,"Belo Horizonte"],
    ["Daniela",29,"Curitiba"]
]
colunas = ["Nome","Idade","Cidade"] 
df = pd.DataFrame(dados,columns=colunas)
display(df) # display só funciona no jupyter  - ele é subentendido se eu colocar só a variável roda do mesmo jeito

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     29        Curitiba

In [ ]:
# Transformando em um dicionário:
# Muito mais indicado do que sub lista - mais prático também
dicio = {
    "Nome":["Ana","Bruno","Carlos","Daniela"],
    "Idade":[23,35,45,29],
    "Cidade":["São Paulo","Rio de Janeiro","Belo Horizonte","Curitiba"]
}

df = pd.DataFrame(dicio)
df

In [ ]:
# Leitura de um arquivo .csv:
# Jogo o arquivo na pasta do repositório e chame pelo nome junto com a extensão.csv - arquivos em excel podendo ser chamados direto para o código

df = pd.read_csv("nome.csv",sep = ";") # Abra o arquivo .csv e veja qual o separador depois use sep = "separador" para deixar tudo estético
df                                        # o Padrão quando só se coloca o nome do arquivo o separador entre as informações é uma vírgula

In [ ]:
# Site para dados https://www.ispdados.rj.gov.br/estatistica.html
# Dessa forma não vai rodar pois o padrão de escrita brasileiro é o UTF-8 e os demais é o americano 
# Dados a esquerda são string a direita numeral

df = pd.read_csv("BaseDPEvolucaoMensalCisp.csv",sep = ";",encoding = "latin1") # encoding = "latin1" ajuda a ler arquivo certinho
df

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.info # Lê o DataFrame de maneira mais leve

In [ ]:
df.describe()

In [10]:
df.shape # Total linhas - Total colunas

(36492, 63)

In [11]:
df.columns # Lista com o nome das colunas

Index(['cisp', 'mes', 'ano', 'mes_ano', 'aisp', 'risp', 'munic', 'mcirc',
       'regiao', 'hom_doloso', 'lesao_corp_morte', 'latrocinio', 'cvli',
       'hom_por_interv_policial', 'letalidade_violenta', 'tentat_hom',
       'lesao_corp_dolosa', 'estupro', 'hom_culposo', 'lesao_corp_culposa',
       'roubo_transeunte', 'roubo_celular', 'roubo_em_coletivo', 'roubo_rua',
       'roubo_veiculo', 'roubo_carga', 'roubo_comercio', 'roubo_residencia',
       'roubo_banco', 'roubo_cx_eletronico', 'roubo_conducao_saque',
       'roubo_apos_saque', 'roubo_bicicleta', 'outros_roubos', 'total_roubos',
       'furto_veiculos', 'furto_transeunte', 'furto_coletivo', 'furto_celular',
       'furto_bicicleta', 'outros_furtos', 'total_furtos', 'sequestro',
       'extorsao', 'sequestro_relampago', 'estelionato', 'apreensao_drogas',
       'posse_drogas', 'trafico_drogas', 'apreensao_drogas_sem_autor',
       'recuperacao_veiculos', 'apf', 'aaapai', 'cmp', 'cmba', 'ameaca',
       'pessoas_desaparecidas', 'encontro_cadaver', 'encontro_ossada',
       'pol_militares_mortos_serv', 'pol_civis_mortos_serv',
       'registro_ocorrencias', 'fase'],
      dtype='object')